<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <link rel="icon" href="images/logo/fav-icon.png"/>
        <link rel="stylesheet" href="css/style.css"/>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
        <title>ChatBox | La solution y ai</title>
    </head>
    <body>
         <div class="navbar">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <label class="logo"><a href="index.html"><img src="images/logo/chat-box-light.png" width="180px" alt="logo"></a></label>
                <ul class="here">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Créator</a></li>
                    <button id="btn-con"><a href="#">Connexion</a></button>
                </ul>
        </div>
        <section class="back">
            <section class="formcontainer">
                <div class="formSection">
                    <h1 style="color: white;">Se connecter</h1>
                    <div class="inputRow">
                        <div class="inputIcon">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA8ElEQVRIS92V7Q2CMBCGHyZQJ1A3cQMdQSfTEXADR9EJ1Ak0r+HIBdu0tOEP/UW43vvVcjRMvJqJ8ZkXwQ44A5vK2O7ACbgJx0ekwroS3NqFtR0SfLrqFdgXEvnen3jvwAj07gBcgEUm0Rs4Ai3gcYIEK+AFLDuSlBupFrj1PDtRUQfaqEOSGq2YG6/a9umSSFifTigiS0UEIgq5GaoWsIT4FXXgN4XcqO7dedWjCUJu9E4xhFQXE6jR3Og5prqKIPPG9tuyzmAs6Mwd6BBzR0MquodNZf+haVxr/tROVIFrdPyN65Sqovq8fplFEaSavqBYNhl8VUyIAAAAAElFTkSuQmCC"/>
                        </div>
                        <input type="text" name="userName" id="userName" placeholder="Username">
                    </div>
                    <div class="inputRow">
                        <div class="inputIcon">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA4ElEQVRIS+2VbQ3CMBRFzxQQFABKAAc4ABQQFAAOcAAOQAIoARzgAHKTLqylX1uyhIT1z5ql757X2/a9gpZH0bI+uYAZsAImJqELsAP0jY4cwBGYB1QE2cYIKYAyPxmBNXA28wWwMfNpbCcpgCwYAxLfO5kqc0GuFeu+NpMCvExEH3g60UPgZv4FdXIBoXVlAn8G0F0/APK4zrgDS/dG+bzTwkEd5cpaxY6qsT5AeXANGXZ16AA+Gy1XOot+0yJVzV7DR/BwK4DvkFUq1MXqvmaJqxFZbTRVrhtu5BPWOuANLRgoGcuyqIoAAAAASUVORK5CYII="/>
                        </div>
                        <input type="password" name="userPassword" id="userPassword" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                            <p style="color: aliceblue; margin-top:-22px; margin-left: 22px; font-size: 13px">Enrégistrer</p>
                        </div>
                        <a href="#" id="forgotpassword">Mot de passe oublié?</a>
                    </div>
                    <div class="btnROw">
                        <input type="button" value="Connexion" class="btn" id="loginbtn">
                    </div>
                     <form action="/inscription" method="get">
                    <div class="btnROw">
                        <button class="btn" id="btn-con">S'inscrire</button>
                    </div>
                    <form>
                    <h4>Ou se connecter avec</h4>
                    <div class="btnRow">
                        <a href="#" class="btn btnGroup">
                            <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
                            Facebook
                        </a>
                        <a href="#" class="btn btnGroup">
                            <img src="https://img.icons8.com/fluent/48/000000/google-logo.png"/>
                            Google
                        </a>
                    </div>
                </div>
            </section>
        </section>
        <!--For script-->
    </body>
    <footer>
        <section class="list1">
            <ul>
                <li><a href="#">Connexoin</a></li>
                <li><a href="#">Confidentialité</a></li>
                <li><a href="#">Créator</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Conditions générales</a></li>
                <li><a href="#">Dévellopeurs</a></li>
                <li><a href="#">Lieux</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Aide</a></li>
                <P>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved for ChatBox</P>
            </ul>
        </section>
    </footer>
</html>
